# Ignore all contents of configs/shadesail
/configs/shadesail/*
!/configs/shadesail/.gitkeep
!/configs/shadesail/.gitignore

# Ignore all contents of configs/surgical
/configs/surgical/*
!/configs/surgical/.gitkeep
!/configs/surgical/.gitignore

# Virtual environment
venv/

settings.json
/settings.json

/*.json

instance/*.db
instance/*.sqlite3
instance/*.sqlite

/react
