<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>D&R Platform</title>
    <link rel="icon" type="image/png" sizes="96x96" href="copelands/static/favicon/favicon-96x96.png" />
    <link rel="icon" type="image/svg+xml" href="copelands/static/favicon/favicon.svg" />
    <link rel="apple-touch-icon" href="copelands/static/favicon/apple-touch-icon.png" />
    <link rel="manifest" href="copelands/static/favicon/site.webmanifest" />
    <script type="module" crossorigin src="/copelands/assets/index-SXBVL-dC.js"></script>
    <link rel="stylesheet" crossorigin href="/copelands/assets/index-xWaFKW03.css">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
